Hello @Name,

Click <a href="@ResetUrl">here</a> to go to the password reset page.

If the link doesn't work, copy and paste the following link into your browser: @ResetUrl

@code {

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? ResetUrl { get; set; }

}